.home-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 214px 1fr;
  background: #f4f6f8;
}

.content-area {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .home-layout {
    grid-template-columns: 86px 1fr;
  }
}
